/* 
{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  background-color: rgb(53, 53, 53);
} */
.container{
  display: block;
  position: relative;
}
.left{
  width: 200px;
  vertical-align: top;
  position: fixed;
}
.right{
  background-color: yellow;
  left: 200px;
  width: 400px;
  position: absolute;
}